---
import Layout from '@layouts/Page.astro'

const title = 'Starter Site'
const description = 'Home page'
---

<Layout title={title} description={description}>
  <main class="container mx-auto py-8">
    <h1>Starter</h1>
    <p>{description}</p>
  </main>
</Layout>
