---
import { getIconFromUrl } from '@data/icons'
import Icon from './Icon'
import { SOCIALS } from '@data/site.mjs'
---

<footer class="mt-auto bg-gray-900 py-8 text-white">
  <div class="container mx-auto flex justify-between">
    <div>&copy; 2024 Dylan Awalt-Conley</div>
    <div class="flex space-x-3">
      {
        SOCIALS.map((url) => {
          const icon = url && getIconFromUrl(url)
          if (!icon) return null
          return (
            <a
              href={url}
              aria-label={icon.name}
              class="duration-150 hover:text-amber-300"
              target="_blank"
            >
              <Icon
                icon={icon.getDefinition()}
                class="fa-inline"
                width="1.2em"
                height="1.2em"
              />
            </a>
          )
        })
      }
    </div>
  </div>
</footer>
